body {
	background-color: #eee;
	font-family: Avenir, Helvetica, Tahoma;
	font-weight: 200;
	color: #343434;
	margin: 0;
}
a {
	color: #777;
}
a:hover {
	color: #00BCD4;
}

:local .myWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	min-height: 100vh;
	min-width: 100vw;
}

:local .myWrapper .hero {
	font-size: 3rem;
}

:local .lead {
	display: block;
	margin: 0 1em;
	font-size: calc(.2vw + 1rem);
	line-height: 1;
	opacity: .8;
	/*letter-spacing: -.1vw;*/
}

:local .person {
	color: #00BCD4;
}

:local .person:focus{
	outline: 0;
	border-bottom: 2px dashed currentcolor;
}
